.bg-blue {
    background-image: linear-gradient(#D3E382 0%, #f6fadf 15%, #FFFFFF 90%, #FFFFFF 100%);
    position: fixed;
    align-content: center;
    text-align: center;
    font-weight: bold;
    height: 100%;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #D3E382 0%, #ffffff 100%);
}

.margin-top-main {
    margin-top: 3em;
}

.active {
    text-align: left;
}

.mobile {
    display: none;
}

.imgPru {
    width: 80%; 
    height: 80%;
}

.dc {
    margin-left: 1em; 
    text-align: left;
}

.cd {
    align-content: center;
    margin: auto;
    width: 19em;
}

.card {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.hrC  {
    border: none;
    height: 0.1em;
    background-color: black;
}

.bc-Wh {
    background-color: #D3E382;
}

.centerAlign {
    text-align: center;
    margin: auto;
}

.alignIn {
    text-align: center;
    margin-top: 6em;
}

.infoTxt {
    color: rgb(48, 48, 48);
    font-weight: bold;
}

.hrefTxt {
    color: rgb(0, 110, 59);
    font-weight: 700;
}

.margin-top {
    margin-top: 2em;
    margin-left: 1em;
}

@media (max-width: 623px)  {
    .mobile {
        display: block;
    }
    .mobileM {
        display: none;
    }
 }